#removeSide {
    background-image: url(../picture/removeBG.jpg);
    background-position: center;
    background-size: cover;
}

.pinkColor {
    background-color: pink;
}

.blackColor {
    background-color: black;
    color: white; 
}