#sumSide {
    background-image: url(../picture/sumBG.jpg);
    background-position: center;
    background-size: cover;
}

.target {
    background-color: pink; 
}


#reset:hover {
    background-color: rgb(105, 199, 105);
    border-radius: 5px;
}