.color {
    background-color: pink;
    color: pink; 
}

.color:hover {
    background-color: rgb(250, 137, 156);
    color: rgb(250, 137, 156);
}

.color:active {
    background-color: rgb(255, 46, 81);
    color: rgb(255, 46, 81); 
}