@font-face {
    font-family: Merienda;
    src: url(Fonts/Merienda-VariableFont_wght.ttf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

.boxes {
    margin: auto; 
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxWithNumbers  {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    font-size: 16px;
    text-align: center;

    background-color: white;
}

containerHome {
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px; 
}

containerSum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

#home { 
    background-image: url(picture/green\ bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

header {
    height: 50px;
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.linkTop {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px 10px; 
    font-size: 15px;
    text-align: center;
    height: 25px;
    
    display: flex;
    align-items: center;
    background-color: white;

    font-family: Merienda;
}

.linkTop:hover {
    text-decoration: underline;
    background-color: rgb(213, 244, 213);
}

.linkTop:active {
    color:green; 
    text-decoration: underline;
}

.longerBox {
    width: 300px;
}


#numbers {
    width: 90%;
    margin: auto;
    padding: 25px;
    border: 1px solid lightgray; 
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    grid-auto-flow: row;
    gap: 10px;
}

.numberInDiv {
   background-color: rgb(213, 244, 213);
   border: 1px solid lightgray;
   border-radius: 5px;
   color: black;
   padding: 5px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.numberInDiv:hover {
    background-color: rgb(105, 199, 105);
}

.numberInDiv:active {
    background-color: rgb(53, 125, 53);
}

